<h4>Basic settings:</h4>
<ul>
    <li>hours:<input onchange="localStorage.hours = this.value;" id="hours"></li>
    <li>uranium:<input onchange="localStorage.uranium = this.value;" id="uranium"></li>
    <li>ganjium:<input onchange="localStorage.ganjium = this.value;" id="ganjium"></li>
    <li>steel:<input onchange="localStorage.steel = this.value;" id="steel"></li>
    <li>aluminium:<input onchange="localStorage.aluminium = this.value;" id="aluminium"></li>
    <li>solomka:<input onchange="localStorage.solomka = this.value;" id="solomka"></li>
    <li>grass:<input onchange="localStorage.grass = this.value;" id="grass"></li>
    <li>boxites:<input onchange="localStorage.boxites = this.value;" id="boxites"></li>
</ul>